<!DOCTYPE html>
<html>
<head>
<title>NewsFeed</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/animate.css">
<link rel="stylesheet" type="text/css" href="assets/css/font.css">
<link rel="stylesheet" type="text/css" href="assets/css/li-scroller.css">
<link rel="stylesheet" type="text/css" href="assets/css/slick.css">
<link rel="stylesheet" type="text/css" href="assets/css/jquery.fancybox.css">
<link rel="stylesheet" type="text/css" href="assets/css/theme.css">
<link rel="stylesheet" type="text/css" href="assets/css/style.css">
<link rel="import" href="assets/myalert.html">
<!--[if lt IE 9]>
<script src="assets/js/html5shiv.min.js"></script>
<script src="assets/js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">
  <header id="header">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header_top">
          <div class="header_top_left">
            <ul class="top_nav">
              <li><a href="/">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/signin">Sign in</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div>
          <div class="header_top_right">
            <p><%= data.toDay %></p>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header_bottom">
          <div class="logo_area"><a href="/" class="logo"><img src="images/logo.jpg" alt=""></a></div>
          <div class="add_banner"><a href="#"><img src="images/addbanner_728x90_V1.jpg" alt=""></a></div>
        </div>
      </div>
    </div>
  </header>
  <section id="navArea">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav main_nav">
          <li class="active"><a href="/"><span class="fa fa-home desktop-home"></span><span class="mobile-show">Home</span></a></li>
          <li class="dropdown"> <a href="/thoisu" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Thời sự</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/thoisu/giaothong">Giao thông</a></li>
              <li><a href="/thoisu/nongnghiepsach">Nông nghiệp sạch</a></li>
            </ul>
          </li>
          <li class="dropdown"> <a href="/kinhdoanh" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Kinh doanh</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/kinhdoanh/doanhnghiep">Doanh nghiệp</a></li>
              <li><a href="/kinhdoanh/batdongsan">Bất động sản</a></li>
              <li><a href="/kinhdoanh/chungkhoan">Chứng khoán</a></li>
            </ul>
          </li>
          <li class="dropdown"> <a href="/giaitri" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Giải trí</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/giaitri/phim">Phim</a></li>
              <li><a href="/giaitri/thoitrang">Thời trang</a></li>
              <li><a href="/giaitri/nhac">Nhạc</a></li>
            </ul>
          </li>
          <li class="dropdown"> <a href="/thethao" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Thể thao</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/thethao/bongda">Bóng đá</a></li>
              <li><a href="/thethao/tennis">Tennis</a></li>
              <li><a href="/thethao/hautruong">Hậu trường</a></li>
            </ul>
          </li>
          <li class="dropdown"> <a href="/phapluat" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Pháp luật</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/phapluat/hosophaan">Hồ sơ phá án</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </section>
  <section id="newsSection">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="latest_newsarea"> <span>Latest News</span>
          <ul id="ticker01" class="news_sticker">
            <% for(let i = 0; i < data.content.length; i++){ %>
              <% let imageLink; %>
              <% for(let j = 0; j < data.content[i].article.length; j++){ %>
                <% if(data.content[i].article[j].image){ %>
                  <% imageLink = data.content[i].article[j].image; %>
                  <% break; %>
                <% } %>
              <% } %>
              <li><a href="/<%= data.content[i].linkPost %>"><img src="<%= imageLink %>" alt=""><%= data.content[i].title %></a></li>
            <% } %>
          </ul>
          <div class="social_area">
            <ul class="social_nav">
              <li class="facebook"><a href="#"></a></li>
              <li class="twitter"><a href="#"></a></li>
              <li class="flickr"><a href="#"></a></li>
              <li class="pinterest"><a href="#"></a></li>
              <li class="googleplus"><a href="#"></a></li>
              <li class="vimeo"><a href="#"></a></li>
              <li class="youtube"><a href="#"></a></li>
              <li class="mail"><a href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="sliderSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="slick_slider">
          <% for(let i = 0; i < data.content.length; i++){ %>
            <% let imageLink; %>
            <% for(let j = 0; j < data.content[i].article.length; j++){ %>
              <% if(data.content[i].article[j].image){ %>
                <% imageLink = data.content[i].article[j].image; %>
                <% break; %>
              <% } %>
            <% } %>
            <div class="single_iteam"> <a href="/<%= data.content[i].linkPost %>"> <img src="<%= imageLink %>" alt=""></a>
              <div class="slider_article">
                <h2><a class="slider_tittle" href="/<%= data.content[i].linkPost %>"><%= data.content[i].title %></a></h2>
                <p><%= data.content[i].description %></p>
              </div>
            </div>
          <% } %>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="latest_post">
          <h2><span>Latest post</span></h2>
          <div class="latest_post_container">
            <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
            <ul class="latest_postnav">
              <% var maxlength = 5; %>
              <% if(data.content.length < maxlength) maxlength = data.content.length; %>
              <% for(let i = 0; i < maxlength; i++){ %>
                <% let imageLink; %>
                <% for(let j = 0; j < data.content[i].article.length; j++){ %>
                  <% if(data.content[i].article[j].image){ %>
                    <% imageLink = data.content[i].article[j].image; %>
                    <% break; %>
                  <% } %>
                <% } %>
                <li>
                  <div class="media"> <a href="/<%= data.content[i].linkPost %>" class="media-left"> <img alt="" src="<%= imageLink %>"> </a>
                    <div class="media-body"> <a href="/<%= data.content[i].linkPost %>" class="catg_title"><%= data.content[i].title %></a> </div>
                  </div>
                </li>
              <% } %>
            </ul>
            <div id="next-button"><i class="fa fa-chevron-down"></i></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_post_content">
            <h2><span>Thời sự</span></h2>
            <div class="single_post_content_left">
              <ul class="business_catgnav  wow fadeInDown">
                <li>
                  <% for(let i = 0; i < data.thoisu[0].article.length; i++){ %>
                    <% if(data.thoisu[0].article[i].image){ %>
                      <figure class="bsbig_fig"> <a href="/<%= data.thoisu[0].linkPost %>" class="featured_img"> <img alt="<%= data.thoisu[0].article[i].imageName %>" src="<%= data.thoisu[0].article[i].image %>"> <span class="overlay"></span> </a>
                        <figcaption> <a href="/<%= data.thoisu[0].linkPost %>"><%= data.thoisu[0].title %></a> </figcaption>
                        <p><%= data.thoisu[0].title.description %></p>
                      </figure>
                      <% break; %>
                    <% } %>
                  <% } %>
                </li>
              </ul>
            </div>
            <div class="single_post_content_right">
              <ul class="spost_nav">
                <% var maxlength = 4; %>
                <% if(data.thoisu.length < maxlength) maxlength = data.thoisu.length; %>
                <% for(let i = 1; i < maxlength; i++){ %>
                  <% let imageLink; %>
                  <% for(let j = 0; j < data.thoisu[i].article.length; j++){ %>
                    <% if(data.thoisu[i].article[j].image){ %>
                      <% imageLink = data.thoisu[i].article[j].image; %>
                      <% break; %>
                    <% } %>
                  <% } %>
                  <li>
                    <div class="media wow fadeInDown"> <a href="/<%= data.thoisu[i].linkPost %>" class="media-left"> <img alt="" src="<%= imageLink %>"> </a>
                      <div class="media-body"> <a href="/<%= data.thoisu[i].linkPost %>" class="catg_title"><%= data.thoisu[i].title %></a> </div>
                    </div>
                  </li>
                <% } %>
              </ul>
            </div>
          </div>
          <div class="fashion_technology_area">
            <div class="fashion">
              <div class="single_post_content">
                <h2><span>Kinh doanh</span></h2>
                <ul class="business_catgnav wow fadeInDown">
                  <li>
                    <% for(let i = 0; i < data.kinhdoanh[0].article.length; i++){ %>
                      <% if(data.kinhdoanh[0].article[i].image){ %>
                        <figure class="bsbig_fig"> <a href="/<%= data.kinhdoanh[0].linkPost %>" class="featured_img"> <img alt="<%= data.kinhdoanh[0].article[i].imageName %>" src="<%= data.kinhdoanh[0].article[i].image %>"> <span class="overlay"></span> </a>
                          <figcaption> <a href="/<%= data.kinhdoanh[0].linkPost %>"><%= data.kinhdoanh[0].title %></a> </figcaption>
                          <p><%= data.kinhdoanh[0].description %></p>
                        </figure>
                        <% break; %>
                      <% } %>
                    <% } %>
                  </li>
                </ul>
                <ul class="spost_nav">
                  <% var maxlength = 4; %>
                  <% if(data.kinhdoanh.length < maxlength) maxlength = data.kinhdoanh.length; %>
                  <% for(let i = 1; i < maxlength; i++){ %>
                    <% let imageLink; %>
                    <% for(let j = 0; j < data.kinhdoanh[i].article.length; j++){ %>
                      <% if(data.kinhdoanh[i].article[j].image){ %>
                        <% imageLink = data.kinhdoanh[i].article[j].image; %>
                        <% break; %>
                      <% } %>
                    <% } %>
                    <li>
                      <div class="media wow fadeInDown"> <a href="/<%= data.kinhdoanh[i].linkPost %>" class="media-left"> <img alt="" src="<%= imageLink %>"> </a>
                        <div class="media-body"> <a href="/<%= data.kinhdoanh[i].linkPost %>" class="catg_title"><%= data.kinhdoanh[i].title %></a> </div>
                      </div>
                    </li>
                  <% } %>
                </ul>
              </div>
            </div>
            <div class="technology">
              <div class="single_post_content">
                <h2><span>Giải trí</span></h2>
                <ul class="business_catgnav wow fadeInDown">
                  <li>
                    <% for(let i = 0; i < data.giaitri[0].article.length; i++){ %>
                      <% if(data.giaitri[0].article[i].image){ %>
                        <figure class="bsbig_fig"> <a href="/<%= data.giaitri[0].linkPost %>" class="featured_img"> <img alt="<%= data.giaitri[0].article[i].imageName %>" src="<%= data.giaitri[0].article[i].image %>"> <span class="overlay"></span> </a>
                          <figcaption> <a href="/<%= data.giaitri[0].linkPost %>"><%= data.giaitri[0].title %></a> </figcaption>
                          <p><%= data.giaitri[0].description %></p>
                        </figure>
                        <% break; %>
                      <% } %>
                    <% } %>
                  </li>
                </ul>
                <ul class="spost_nav">
                  <% var maxlength = 4; %>
                  <% if(data.giaitri.length < maxlength) maxlength = data.giaitri.length; %>
                  <% for(let i = 1; i < maxlength; i++){ %>
                    <% let imageLink; %>
                    <% for(let j = 0; j < data.giaitri[i].article.length; j++){ %>
                      <% if(data.giaitri[i].article[j].image){ %>
                        <% imageLink = data.giaitri[i].article[j].image; %>
                        <% break; %>
                      <% } %>
                    <% } %>
                    <li>
                      <div class="media wow fadeInDown"> <a href="/<%= data.giaitri[i].linkPost %>" class="media-left"> <img alt="" src="<%= imageLink %>"> </a>
                        <div class="media-body"> <a href="/<%= data.giaitri[i].linkPost %>" class="catg_title"><%= data.giaitri[i].title %></a> </div>
                      </div>
                    </li>
                  <% } %>
                </ul>
              </div>
            </div>
          </div>
          <div class="single_post_content">
            <h2><span>Thể thao</span></h2>
            <div class="single_post_content_left">
              <ul class="business_catgnav  wow fadeInDown">
                <li>
                  <% for(let i = 0; i < data.thethao[0].article.length; i++){ %>
                    <% if(data.thethao[0].article[i].image){ %>
                      <figure class="bsbig_fig"> <a href="/<%= data.thethao[0].linkPost %>" class="featured_img"> <img alt="<%= data.thethao[0].article[i].imageName %>" src="<%= data.thethao[0].article[i].image %>"> <span class="overlay"></span> </a>
                        <figcaption> <a href="/<%= data.thethao[0].linkPost %>"><%= data.thethao[0].title %></a> </figcaption>
                        <p><%= data.thethao[0].title.description %></p>
                      </figure>
                      <% break; %>
                    <% } %>
                  <% } %>
                </li>
              </ul>
            </div>
            <div class="single_post_content_right">
              <ul class="spost_nav">
                <% var maxlength = 4; %>
                <% if(data.thethao.length < maxlength) maxlength = data.thethao.length; %>
                <% for(let i = 1; i < maxlength; i++){ %>
                  <% let imageLink; %>
                  <% for(let j = 0; j < data.thethao[i].article.length; j++){ %>
                    <% if(data.thethao[i].article[j].image){ %>
                      <% imageLink = data.thethao[i].article[j].image; %>
                      <% break; %>
                    <% } %>
                  <% } %>
                  <li>
                    <div class="media wow fadeInDown"> <a href="/<%= data.thethao[i].linkPost %>" class="media-left"> <img alt="" src="<%= imageLink %>"> </a>
                      <div class="media-body"> <a href="/<%= data.thethao[i].linkPost %>" class="catg_title"><%= data.thethao[i].title %></a> </div>
                    </div>
                  </li>
                <% } %>
              </ul>
            </div>
          </div>
          <div class="single_post_content">
            <h2><span>Pháp luật</span></h2>
            <div class="single_post_content_left">
              <ul class="business_catgnav  wow fadeInDown">
                <li>
                  <% for(let i = 0; i < data.phapluat[0].article.length; i++){ %>
                    <% if(data.phapluat[0].article[i].image){ %>
                      <figure class="bsbig_fig"> <a href="/<%= data.phapluat[0].linkPost %>" class="featured_img"> <img alt="<%= data.phapluat[0].article[i].imageName %>" src="<%= data.phapluat[0].article[i].image %>"> <span class="overlay"></span> </a>
                        <figcaption> <a href="/<%= data.phapluat[0].linkPost %>"><%= data.phapluat[0].title %></a> </figcaption>
                        <p><%= data.phapluat[0].title.description %></p>
                      </figure>
                      <% break; %>
                    <% } %>
                  <% } %>
                </li>
              </ul>
            </div>
            <div class="single_post_content_right">
              <ul class="spost_nav">
                <% var maxlength = 4; %>
                <% if(data.phapluat.length < maxlength) maxlength = data.phapluat.length; %>
                <% for(let i = 1; i < maxlength; i++){ %>
                  <% let imageLink; %>
                  <% for(let j = 0; j < data.phapluat[i].article.length; j++){ %>
                    <% if(data.phapluat[i].article[j].image){ %>
                      <% imageLink = data.phapluat[i].article[j].image; %>
                      <% break; %>
                    <% } %>
                  <% } %>
                  <li>
                    <div class="media wow fadeInDown"> <a href="/<%= data.phapluat[i].linkPost %>" class="media-left"> <img alt="" src="<%= imageLink %>"> </a>
                      <div class="media-body"> <a href="/<%= data.phapluat[i].linkPost %>" class="catg_title"><%= data.phapluat[i].title %></a> </div>
                    </div>
                  </li>
                <% } %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Popular Post</span></h2>
            <ul class="spost_nav">
              <li>
                <div class="media wow fadeInDown"> <a href="single_page" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                  <div class="media-body"> <a href="single_page" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="single_page" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
                  <div class="media-body"> <a href="single_page" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="single_page" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                  <div class="media-body"> <a href="single_page" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="single_page" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
                  <div class="media-body"> <a href="single_page" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="single_sidebar">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Category</a></li>
              <li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Video</a></li>
              <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Comments</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="category">
                <ul>
                  <li class="cat-item"><a href="/thoisu">Thời sự</a></li>
                  <li class="cat-item"><a href="/kinhdoanh">Kinh doanh</a></li>
                  <li class="cat-item"><a href="/giaitri">Giải trí</a></li>
                  <li class="cat-item"><a href="/thethao">Thể thao</a></li>
                  <li class="cat-item"><a href="/phapluat">Pháp luật</a></li>
                </ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="video">
                <div class="vide_area">
                  <iframe width="100%" height="250" src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="comments">
                <ul class="spost_nav">
                  <li>
                    <div class="media wow fadeInDown"> <a href="single_page" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                      <div class="media-body"> <a href="single_page" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="single_page" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
                      <div class="media-body"> <a href="single_page" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="single_page" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                      <div class="media-body"> <a href="single_page" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="single_page" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
                      <div class="media-body"> <a href="single_page" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Sponsor</span></h2>
            <a class="sideAdd" href="#"><img src="images/add_img.jpg" alt=""></a> </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Category Archive</span></h2>
            <select class="catgArchive">
              <option>Select Category</option>
              <option>Life styles</option>
              <option>Sports</option>
              <option>Technology</option>
              <option>Treads</option>
            </select>
          </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Links</span></h2>
            <ul>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Rss Feed</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Life &amp; Style</a></li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </section>
  <footer id="footer">
    <div class="footer_top">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer_widget wow fadeInLeftBig">
            <h2>Flickr Images</h2>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer_widget wow fadeInDown">
            <h2>Tag</h2>
            <ul class="tag_nav">
              <li><a href="#">Games</a></li>
              <li><a href="#">Sports</a></li>
              <li><a href="#">Fashion</a></li>
              <li><a href="#">Business</a></li>
              <li><a href="#">Life &amp; Style</a></li>
              <li><a href="#">Technology</a></li>
              <li><a href="#">Photo</a></li>
              <li><a href="#">Slider</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer_widget wow fadeInRightBig">
            <h2>Contact</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <address>
            Perfect News,1238 S . 123 St.Suite 25 Town City 3333,USA Phone: 123-326-789 Fax: 123-546-567
            </address>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bottom">
      <p class="copyright">Copyright &copy; 2045 <a href="index.html">NewsFeed</a></p>
      <p class="developer">Developed By Wpfreeware</p>
    </div>
  </footer>
</div>
<script src="assets/js/jquery.min.js"></script> 
<script src="assets/js/wow.min.js"></script> 
<script src="assets/js/bootstrap.min.js"></script> 
<script src="assets/js/slick.min.js"></script> 
<script src="assets/js/jquery.li-scroller.1.0.js"></script> 
<script src="assets/js/jquery.newsTicker.min.js"></script> 
<script src="assets/js/jquery.fancybox.pack.js"></script> 
<script src="assets/js/custom.js"></script>
<script src="assets/myfunction.js"></script>

</body>
</html>